@model ParkingHouse.Models.ViewModels.ParkingHouse.GarageCreateViewModel

<div>
    <div>
        @Html.DisplayNameFor(m => m.Types)
    </div>
    <div>
        @Html.EnumDropDownListFor(m => m.Types)
    </div>
    <div>
        @Html.ValidationMessageFor(m => m.Types)
    </div>
</div>

<div>
    <div>
        @Html.DisplayNameFor(m => m.ParkingLotNr) : @Html.DisplayFor(m => m.ParkingLotNr)
    </div>
    <div>
        @{ 
            string message = "";
            if (string.IsNullOrEmpty(Model.ParkingLotNr))
            {
                message = "Välj en ledig parkering";
            }
            else
            {
                message = "Flytta till annan plats";
            }
        }
        @Html.DropDownListFor(m => m.ParkingLotNr, new SelectList(Model.freeParkings), message)
    </div>
    <div>
        @Html.ValidationMessageFor(m => m.ParkingLotNr)
    </div>
</div>

<div>
    <div>
        @Html.DisplayNameFor(m => m.RegNr)
    </div>
    <div>
        @Html.EditorFor(m => m.RegNr)
    </div>
    <div>
        @Html.ValidationMessageFor(m => m.RegNr)
    </div>
</div>

<div>
    <div>
        @Html.DisplayNameFor(m => m.Fabricate)
    </div>
    <div>
        @Html.EditorFor(m => m.Fabricate)
    </div>
    <div>
        @Html.ValidationMessageFor(m => m.Fabricate)
    </div>
</div>

<div>
    <div>
        @Html.DisplayNameFor(m => m.FabricateModel)
    </div>
    <div>
        @Html.EditorFor(m => m.FabricateModel)
    </div>
    <div>
        @Html.ValidationMessageFor(m => m.FabricateModel)
    </div>
</div>

<div>
    <div>
        @Html.DisplayNameFor(m => m.Color)
    </div>
    <div>
        @Html.EditorFor(m => m.Color)
    </div>
    <div>
        @Html.ValidationMessageFor(m => m.Color)
    </div>
</div>
