@model ParkingHouse.Models.ViewModels.ParkingHouse.GarageCreateViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>



<div>
    <div>
        @Html.DisplayNameFor(m => m.Types)
    </div>
    <div>
        @Html.DisplayFor(m => m.Types)
    </div>
</div>

<div>
    <div>
        @Html.DisplayNameFor(m => m.RegNr)
    </div>
    <div>
        @Html.DisplayFor(m => m.RegNr)
    </div>
</div>

<div>
    <div>
        @Html.DisplayNameFor(m => m.Fabricate)
    </div>
    <div>
        @Html.DisplayFor(m => m.Fabricate)
    </div>
</div>

<div>
    <div>
        @Html.DisplayNameFor(m => m.FabricateModel)
    </div>
    <div>
        @Html.DisplayFor(m => m.FabricateModel)
    </div>
</div>

<div>
    <div>
        @Html.DisplayNameFor(m => m.Color)
    </div>
    <div>
        @Html.DisplayFor(m => m.Color)
    </div>
</div>

<div>
    <div>
        @Html.DisplayNameFor(m => m.NumberOfTyres)
    </div>
    <div>
        @Html.DisplayFor(m => m.NumberOfTyres)
    </div>
</div>

<div>
    <div>
        @Html.DisplayNameFor(m => m.ParkingTimeStart)
    </div>
    <div>
        @Html.DisplayFor(m => m.ParkingTimeStart)
    </div>
</div>

<div>
    <div>
        @Html.DisplayNameFor(m => m.Duration)
    </div>
    <div>
        @Html.DisplayFor(m => m.Duration)
    </div>
</div>

<div>
    <div>
        @Html.DisplayNameFor(m => m.Cost)
    </div>
    <div>
        @Html.DisplayFor(m => m.Cost)
    </div>
</div>