@model ParkingHouse.Models.ViewModels.ParkingHouse.GarageIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Parked Cars</h2>

<input type="button" value="Checka in nytt fordon" class="button" onclick="CheckIn()"/><br />

@using (Html.BeginForm())
{
    <p>Nuvarande sökning: @ViewBag.SearchTerm</p>
    <input type="search" name="searchTerm" class="text-box"/> 
    <input type="submit" value="Sök" class="button" />
    <input type="button" value="Återställ" class="button" onclick="location.href='@Url.Action("Index")'" />
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(m => m.RegNr).ToString(), "Index", new { orderBy = "RegNr"})
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(m => m.Fabricate).ToString(), "Index", new { orderBy = "Fabricate" })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(m => m.FabricateModel).ToString(), "Index", new {  orderBy = "Fabricatemodel" })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(m => m.ParkingTimeStart).ToString(), "Index", new { orderBy = "ParkingTimeStart" })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(m => m.Duration).ToString(), "Index", new { orderBy = "ParkingTimeStop"})
        </th>
    </tr>
    @foreach(var item in Model.Vehicles)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.RegNr)
            </td>
            <td>
                @Html.DisplayFor(m => item.Fabricate)
            </td>
            <td>
                @Html.DisplayFor(m => item.FabricateModel)
            </td>
            <td>
                @Html.DisplayFor(m => item.ParkingTimeStart)
            </td>
            <td>
                @Html.DisplayFor(m => item.Duration)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id}) |
                @Html.ActionLink("Checka ut", "CheckOut", new { id = item.Id}) |
                @Html.ActionLink("Ändra", "Edit", new { id = item.Id})
            </td>
        </tr>

    }
</table>

