@model ParkingHouse.Models.ViewModels.Home.HomeIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-3 parkCar">
        @Html.Action("Create", "Garage")

        @*Lediga Platser: @Html.DisplayFor(m => m.FreeLots)<br />
        Totalt antal platser: @Html.DisplayFor(m => m.NumberOfLots)

        <input type="button" value="Checka in bil" onclick="CheckIn()"/>*@
    </div>
    <div class="col-md-5">
        @Html.Action("TextBlock", "Page")
    </div>
    <div class="col-md-4">
        @Html.Action("ContactBlock", "Page")
 </div>
</div>